<section data-ng-controller="ConceptblendingController" data-ng-init="find()">
	<div class="page-header">
			<h1>Look up a word</h1>
			<div class="col-md-12">
					<form class="form-horizontal" data-ng-submit="requestWordLookup()" novalidate>
							<fieldset>
									<div class="form-group">
											<label class="control-label" for="word">Word</label>
											<div class="controls">
													<input type="text" data-ng-model="inputword" id="name" class="form-control" placeholder="Name" required>
											</div>
									</div>
									<div class="form-group">
											<input type="submit" class="btn btn-default" value="Lookup">
									</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
							</fieldset>
					</form>
			</div>
			<p>Word: <span data-ng-bind="word.word"></span></p>
			<p>Type: <span data-ng-bind="word.type"></span></p>
	</div>
</section>
