<section data-ng-controller="FindInstrumentController">
	<div class="page-header">
		<h1>Find a concept on wikipedia</h1>
		<!-- <form action="" method="GET" class="form-inline">
			<label>Wikipedia URL</label>
			<input name="url" id="instrument-selector" type="text" class="url span6" placeholder="Enter a Wikipedia or DBPedia URL" value="http://en.wikipedia.org/wiki/Normandy_landings" />
			<button onclick="randomize()">Random instrument</button>
			<button>Go &raquo;</button>
		</form> -->

		<tabset active="active">
			<tab ng-repeat="i in [0,1]" heading="Concept {{i+1}}">
				<div class="col-md-12">
						<form class="form-inline well" data-ng-submit="findConceptFromWikipedia(i)" novalidate>
								<fieldset>
										<div class="form-group">
												<label class="control-label" for="wikipedia">Wikipedia URL</label>
												<div class="controls">
														<label class="control-label" for="url">http://en.wikipedia.org/wiki/</label>
														<input type="text" data-ng-model="wikipediaPageName[i]" id="name" class="form-control" required>
														<input type="button" ng-click="pickRandomInstrument(i)" class="btn btn-default" value="Random instrument">
														<input type="submit" class="btn btn-default" value="Get Abstract">
														<input type="button" ng-click="quickTemplate(i)" class="btn btn-default" title="Loads Cajon and Clapsticks" value="Quick template">
												</div>
										</div>
										<!-- <div class="form-group">
												<input type="submit" class="btn btn-default" value="Random instrument">
										</div> -->
										<div data-ng-show="error" class="text-danger">
											<strong data-ng-bind="error"></strong>
										</div>
								</fieldset>
						</form>
						<label class="import-file">
						    <input type="file" custom-on-change="i ? loadConcept2 : loadConcept1">
						</label>
				</div>
				<!-- <div class="loading" style="display: none;">
					<strong>Loading</strong> <img src="http://assets.okfn.org/images/icons/ajaxload-circle.gif" />
				</div> -->

				<div class="results">
						<h2 ng-show="concepts[i].wikipediaAbstract.length>0">Wikipedia abstract</h2>
						<p>{{concepts[i].wikipediaAbstract}}</p>
						<h2 ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0">Abstract without stopwords</h2>
						<p>{{concepts[i].wikipediaAbstractWithoutStopwords}}</p>
						<h2 ng-show="concepts[i].nounPhrases.length>0">Noun phrases</h2>
						<p style="white-space: pre-line;">{{concepts[i].nounPhrases}}</p>
						<input type="submit" ng-click="requestNounPhrases(i);" ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0" class="btn btn-default" title="Used to let WordNet find synsets from phrases, such as 'musical instruments'" value="Get noun phrases">
						<br>
						<label ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0">Max words</label>
						<input type="number" ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0" data-ng-model="maxWordsToRetrieve" min="1" max="1000" required>
						<label ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0">Max synsets</label>
						<input type="number" ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0" data-ng-model="maxSynsetsAllowedPerProperty" min="1" max="50" required>
						<input type="submit" ng-click="requestSynsetsForEachProperty(i, maxWordsToRetrieve, maxSynsetsAllowedPerProperty)" ng-show="concepts[i].wikipediaAbstractWithoutStopwords.length>0" class="btn btn-default" value="Get synsets">
						<input type="button" ng-click="updateSynsetsByHypernyms(i)" ng-show="concepts[i].properties.length>0" class="btn btn-default" title="Iterate synset selections using the latest hypernym words" value="Iterate synsets">
						<input type="button" ng-click="saveConcept(concepts[i], wikipediaPageName[i])" ng-show="concepts[i].properties.length>0" class="btn btn-default" title="Store concept for quick retrieval" value="Save concept">
				</div>

				<tabset active="active">
					<tab heading="Properties">
						<div class="concepts">
								<table class="table">
									<tr>
										<th style="width: 5%">Nr</th>
										<th style="width: 10%">Word</th>
										<th style="width: 10%">Stems</th>
										<th style="width: 5%">Pos</th>
										<th style="width: 40%">Synsets</th>
										<th style="width: 30%">Hypernyms</th>
									</tr>
									<tr ng-repeat="property in concepts[i].properties">
										<td><b>{{ $index }}</b></td>
										<td>{{ property.word }}</td>
										<td>{{ property.lemmas }}</td>
										<td>{{ property.pos }}</td>
										<td>
											<span ng-repeat="s in property.synsets">
												<button
												ng-class="property.topSynset === $index ? 'btn btn-primary' : property.lastTopSynset === $index ? 'btn btn-danger' : 'btn btn-default'"
												ng-click="requestHypernyms($parent.$index, property.word, s.synsetID, i); property.topSynset = $index"
												title="{{s.lexdomain + ' - ' + s.definition}}"
												ng-hide="s[0] === 'E'">
													{{s.synsetID}}
												</button>
											</span>
											<span>{{property.synsets.error}}</span>
										</td>
										<td>
											<span ng-show="property.hypernyms.length === 0">
												{{ property.topSynset === -1 ? (property.synsets.length > maxSynsetsAllowedPerProperty ? 'too many synsets' : 'no synset selected') :
												(property.loadingHypernyms ? 'looking for hypernyms' : 'hypernyms not found') }}
											</span>
											<span ng-repeat="h in property.hypernyms">
												{{ h.words[0].lemma + ($index < property.hypernyms.length - 1 ? ' < ' : '') }}
											</span>
										</td>
									</tr>
								</table>
						</div>
					</tab>
					<tab heading="Graph" ng-click="generateTree(i)">

						<div id="network" style="
							width: 100%;
	            height: 800px;
	            border: 1px solid lightgray;
						">
							<vis-network data="networkDatasets[i]" options="networkOptions"></vis-network>
						</div>

						<!-- <p>{{networkDatasets}}</p>
						<p>{{networkOptions}}</p> -->

					</tab>
				</tabset>
			</tab>
			<tab heading="Find Matches" ng-click="findMatches(); generateTree(2)">
				<label>Minimum depth:</label>
				<input type="number" data-ng-model="minimumDepth" min="0" max="100" required>
				<label>Maximum height:</label>
				<input type="number" data-ng-model="maximumHeight" min="0" max="100" required>
				<h2 ng-show="matches.length > 0">{{matches.length}} Matches</h2>
				<div class="sharedproperties">
					<tabset>
						<tab heading="Properties">
							<table class="table">
								<tr>
									<th>Word</th>
									<th>Definition</th>
									<th>SynsetID</th>
									<th>Depth</th>
									<th>Height</th>
								</tr>
								<tr ng-repeat="word in matches">
									<td>{{ word.word }}</td>
									<td>{{ word.definition }}</td>
										<td>{{ word.synset }}</td>
										<td>{{ word.depth }}</td>
										<td>{{ word.height }}</td>
									</tr>
								</table>
							</tab>
							<tab heading="Graph" ng-click="generateTree(2)">
								<div id="network" style="
								width: 100%;
								height: 800px;
								border: 1px solid lightgray;
								">
									<vis-network data="networkDatasets[2]" options="networkOptions"></vis-network>
								</div>
							</tab>
					</tabset>
				</div>
			</tab>
			<tab heading="Creative strategy" ng-click="findMatches(); generateTree(2); subtrees[0] = findAllCreativeSubtreesFromMatchedTree(0); subtrees[1] = findAllCreativeSubtreesFromMatchedTree(1); generateTree(3); generateTree(4); initBlendToggles();">
				<tabset>
					<tab heading="Possible swaps">
						<h2 ng-show="subtrees[0].length>0">Select trees to move from {{wikipediaPageName[0]}}</h2>
						<table class="table">
							<tr>
								<th><input type="checkbox" ng-click="toggleAllBlends(0)" ng-model="isSelectAllActivated[0]"></th>
								<th>Nodes</th>
								<th>Depth</th>
								<th>Branch length</th>
								<th>Penalty</th>
								<th>Score (D - BL - P)</th>
								<th>Sentence</th>
							</tr>
							<tr ng-repeat="swap in subtrees[0]">
								<td><input type="checkbox" ng-model="activatedForBlending[0][$index]"></td>
								<td>
									<span ng-repeat="node in swap.branch">
										{{ node.word || node.words[0].lemma }} <
									</span>
									({{swap.root.words[0].lemma}}...)
								</td>
								<td>{{ swap.depth }}</td>
								<td>{{ swap.branch.length }}</td>
								<td>{{ swap.penalty }}</td>
								<td>{{ swap.compatibility }}</td>
								<td>{{ swap.wordSentence }}</td>
							</tr>
						</table>
						<h2 ng-show="subtrees[1].length>0">Select trees to move from {{wikipediaPageName[1]}}</h2>
						<table class="table">
							<tr>
								<th><input type="checkbox" ng-click="toggleAllBlends(1)" ng-model="isSelectAllActivated[1]"></th>
								<th>Nodes</th>
								<th>Depth</th>
								<th>Branch length</th>
								<th>Penalty</th>
								<th>Score (D - BL - P)</th>
								<th>Sentence</th>
							</tr>
							<tr ng-repeat="swap in subtrees[1]">
								<td><input type="checkbox" ng-model="activatedForBlending[1][$index]"></td>
								<td>
									<span ng-repeat="node in swap.branch">
										{{ node.word || node.words[0].lemma }} <
									</span>
									({{swap.root.words[0].lemma}}...)
								</td>
								<td>{{ swap.depth }}</td>
								<td>{{ swap.branch.length }}</td>
								<td>{{ swap.penalty }}</td>
								<td>{{ swap.compatibility }}</td>
								<td>{{ swap.wordSentence }}</td>
							</tr>
						</table>
					</tab>
					<tab heading="Graph">
						<div id="network" style="
						width: 100%;
						height: 800px;
						border: 1px solid lightgray;
						">
							<vis-network data="networkDatasets[3]" options="networkOptions"></vis-network>
						</div>
						<div id="network" style="
						width: 100%;
						height: 800px;
						border: 1px solid lightgray;
						">
							<vis-network data="networkDatasets[4]" options="networkOptions"></vis-network>
						</div>
					</tab>
				</tabset>

			</tab>
			<!-- <tab heading="Swapped trees" ng-click="makeBestTree(); generateTree(5); generateTree(6)">
				<div id="network" style="
				width: 100%;
				height: 800px;
				border: 1px solid lightgray;
				">
					<vis-network data="networkDatasets[5]" options="networkOptions"></vis-network>
				</div>
				<div id="network" style="
				width: 100%;
				height: 800px;
				border: 1px solid lightgray;
				">
					<vis-network data="networkDatasets[6]" options="networkOptions"></vis-network>
				</div>
			</tab> -->
			<tab heading="Blend concept" ng-click="
			generateTree(0); generateTree(1);
			findMatches(); generateTree(2);
			subtrees[0] = findAllCreativeSubtreesFromMatchedTree(0); subtrees[1] = findAllCreativeSubtreesFromMatchedTree(1);
			generateTree(3); generateTree(4);
			initBlendToggles(); initNodeString(); makeBestTree();
			generateTree(5); generateTree(6)">
				<div id="network" style="
				width: 100%;
				height: 800px;
				border: 1px solid lightgray;
				">
					<vis-network data="networkDatasets[5]" options="networkOptions"></vis-network>
				</div>
				<h4>Moved {{ nodeString[1-conceptToKeepInBlend][0] }} from {{ wikipediaPageName[1-conceptToKeepInBlend] }} to {{ wikipediaPageName[conceptToKeepInBlend] }}</h4>
				<h4>{{ swappedSubtrees[0][0].wordSentence }}</h4>
			</tab>
		</tabset>

	</div>
</section>
